#CALeft {
	width: 75%; 
}
#CARight {
	width: 24%;
}
.block, #CAFull, #top, #navBar, #revisions, #wrapper {
	width: 100%;
}

#CAFull {
  padding: 0;
}

.question-summary {
  width: 64%;
}

.user-info-table{
  width: 97%;
}

.user-stats-table .question-summary {
  width: 82%;
}


.narrow .summary {
  width: 60%;
}

.bookInfo {
	width: 97%;
}
.bookCover {
	width: 19%;
}

.blogRss {
  width: 48%;
}
.user {
	width: 16%;
}


#room table {
  margin:0 !important;
  width:auto !important;
}

/* Form elements */

.ctrlHolder ul.errorlist {
  float: right;
  width: 250px;
}

ul.errorlist {
  margin: 0;
  padding: 0;
  list-style: none;
  color: red;
}

.checkbox input.checkboxinput {
  float: left;
  margin-right: 15px;
  margin-left: 37%;
}

.uniForm .inlineLabels label, .uniForm .inlineLabels .label {
  width: 20%;
}

.uniForm .checkbox label {
  width: 40%;
}

.uniForm .inlineLabels .formHint {
  margin-left:37%;
}
