#CALeft {
	width: 75%; 
}
#CARight {
	width: 24%;
}
.block, #CAFull, #top, #navBar, #revisions, #wrapper {
	width: auto;
}

.question-summary {
  width: 64%;
}

.user-info-table{
  width: 97%;
}

.user-stats-table .question-summary {
  width: 82%;
}


.narrow .summary {
  width: 60%;
}

.bookInfo {
	width: 97%;
}
.bookCover {
	width: 19%;
}

.blogRss {
  width: 48%;
}
.user {
	width: 16%;
}


table {
  margin:0 !important;
  width:auto !important;
}