#Eclipse's specific
.project
.pydevproject
.pydevproject.bak

# Wurfl exclude
wurfl.xml

#buildout's specific
.installed.cfg
eggs/*
bin/*
develop-eggs/*
parts/*
downloads/*

#egg's specific
*.egg-info

#defaults
*.pyc
*.pyo

#coverage report
src/test_a_khavr/coverage_report/*
src/crowdsense/local_settings.py

#sqlite3 db
crowdsense.db

#temp file
tempfile

#media
src/crowdsense/site_media/*
