[buildout]

find-links = 
    http://pypi.saaskit.org/Fabric/
    http://pypi.saaskit.org/South/
    http://pypi.saaskit.org/app-media/
    http://pypi.saaskit.org/django-ab/
    http://pypi.saaskit.org/django-authopenid/
    http://pypi.saaskit.org/django-contact-form/
    http://pypi.saaskit.org/django-notification/
    http://pypi.saaskit.org/django-paypal/
    http://pypi.saaskit.org/django-pipes/
    http://pypi.saaskit.org/django-prepaid/
    http://pypi.saaskit.org/django-profiles/
    http://pypi.saaskit.org/django-quotas/
    http://pypi.saaskit.org/django-registration/
    http://pypi.saaskit.org/django-sso/
    http://pypi.saaskit.org/django-subscription/
    http://pypi.pinaxproject.com/

base-parts =
    zlib
    PIL
 
    muaccounts
    saaskit
    saaskit-main
    saaskit-user
    
    interpreter
    scripts
      
parts = ${buildout:base-parts}

[muaccounts]
recipe = zerokspot.recipe.git
repository = git@github.com:CrowdSense/saaskit-muaccounts.git
as_egg= true

[saaskit]
recipe = zerokspot.recipe.git
repository = git@github.com:CrowdSense/saaskit-core.git
as_egg= true

[saaskit-main]
recipe = zerokspot.recipe.git
repository = git@github.com:CrowdSense/saaskit-main.git
as_egg= true

[saaskit-user]
recipe = zerokspot.recipe.git
repository = git@github.com:CrowdSense/saaskit-user.git
as_egg= true

# Build zlib for PIL, and PIL so we don't rely on something in the system
[zlib]
recipe = hexagonit.recipe.cmmi
url = http://www.zlib.net/zlib-1.2.3.tar.gz
configure-options = --shared

[PIL]
recipe = zc.recipe.egg:custom
egg = PIL
find-links = http://dist.repoze.org/
include-dirs = ${zlib:location}/include
library-dirs = ${zlib:location}/lib
rpath = ${zlib:location}/lib

[interpreter]
recipe = zc.recipe.egg
eggs =  ${buildout:eggs}
base-extra-paths = 
    ${muaccounts:location}
    ${saaskit:location}
    ${saaskit-main:location}
    ${saaskit-user:location}
extra-paths = ${interpreter:base-extra-paths}
interpreter = python
scripts = python

[scripts]
# A python interpreter with our eggs and libraries on its sys.path
recipe = zc.recipe.egg:scripts
eggs = ${interpreter:eggs}
extra-paths = ${interpreter:extra-paths}
scripts =
    python
    django-admin
entry-points =
    django-admin=django.core.management:execute_from_command_line
    