[buildout]

base-eggs = 
    answerlog 
    psycopg2

eggs = ${buildout:base-eggs}

base-parts =
    saaskit-muaccounts
    saaskit-core
    saaskit-main
    saaskit-user
    saaskit-subscription
    saaskit-prepaid
    
    CNPROG
    
    interpreter
    scripts
    
    main_site
    user_site
    
parts = ${buildout:base-parts}
        cmds

unzip = true
newest = false
develop = .

[saaskit-muaccounts]
recipe = zerokspot.recipe.git
repository = git@github.com:saas-kit/saaskit-muaccounts.git
as_egg= true

[saaskit-core]
recipe = zerokspot.recipe.git
repository = git@github.com:saas-kit/saaskit-core.git
as_egg= true

[saaskit-main]
recipe = zerokspot.recipe.git
repository = git@github.com:saas-kit/saaskit-main.git
as_egg= true

[saaskit-user]
recipe = zerokspot.recipe.git
repository = git@github.com:saas-kit/saaskit-user.git
as_egg= true

[CNPROG]
recipe = zerokspot.recipe.git
repository = git@github.com:saas-kit/CNPROG.git 
as_egg= true

[saaskit-subscription]
recipe = zerokspot.recipe.git
repository = git@github.com:saas-kit/saaskit-subscription.git
as_egg = true

[saaskit-prepaid]
recipe = zerokspot.recipe.git
repository = git@github.com:saas-kit/saaskit-prepaid.git
as_egg = true

[interpreter]
recipe = zc.recipe.egg
eggs =  ${buildout:eggs}
base-extra-paths = 
    ${CNPROG:location}/src/cnprog/apps
    ${buildout:directory}/src/answerlog/apps
    ${buildout:parts-directory}/saaskit-core/src/saaskit/apps
extra-paths = ${interpreter:base-extra-paths}
interpreter = python
scripts = python

[main_site]
recipe        = djangorecipe
python        = interpreter
version       = 1.1.1
eggs          = ${interpreter:eggs}
extra-paths   = ${interpreter:extra-paths}
projectegg    = answerlog 
settings      = corp_site.settings
wsgi          = false

[user_site]
recipe        = djangorecipe
python        = ${main_site:python}
version       = ${main_site:version}
eggs          = ${main_site:eggs}
extra-paths   = ${main_site:extra-paths}
projectegg    = answerlog 
settings      = customer_site.settings
wsgi          = ${main_site:wsgi}

[scripts]
recipe = zc.recipe.egg:scripts
eggs = ${interpreter:eggs}
extra-paths = ${interpreter:extra-paths}
scripts =
    fab
entry-points =
    fab=fabric.main:main

[cmds]
recipe = collective.recipe.cmd
on_install=true
on_update=true
cmds= 
    ./bin/user_site syncdb --noinput --migrate
    ./bin/user_site link_app_media
    ./bin/user_site synccompress
    
    ./bin/main_site syncdb --noinput --migrate
    ./bin/main_site link_app_media
    ./bin/main_site synccompress
    
    ./bin/main_site loaddata ./src/answerlog/fixtures/groups.json
    ./bin/main_site loaddata ./src/answerlog/fixtures/subscriptions.json
    ./bin/main_site loaddata ./src/answerlog/fixtures/example_data.json
