{% load i18n extra_tags extra_filters %}
{% if request.user|can_edit_post:answer %}
<span class="action-link"><a href="{% url edit_answer answer.id %}">{% trans "edit" %}</a></span>
<span class="action-link-separator">|</span>
{% endif %}
{% if request.user|can_delete_post:answer %}
<span class="action-link">
  <a id="answer-delete-link-{{answer.id}}">
    {% if answer.deleted %}
      {% trans "undelete" %}
    {% endif %}
    {% if not answer.deleted %}
      {% trans "delete" %}
    {% endif %}
  </a>
</span>
<span class="action-link-separator">|</span>
{% endif %}
<span class="linksopt">
    <a href="#{{ answer.id }}" title="{% trans "answer permanent link" %}">
      {% trans "permanent link" %}
    </a>
</span>
<span class="action-link-separator">|</span>
<span id="answer-offensive-flag-{{ answer.id }}" class="offensive-flag" 
    title="{% trans "report as offensive (i.e containing spam, advertising, malicious text, etc.)" %}">
  <a>{% trans "flag offensive" %}</a>
  <span class="darkred">{% if request.user|can_view_offensive_flags %}{% if answer.offensive_flag_count %}({{ answer.offensive_flag_count }}){% endif %}{% endif %}</span>
</span>
{% if answer.point_award %}
<span class="action-link-separator">|</span>
<span class="answer-awarded">{% trans "awarded"%}</span>
{% else %}
  {% if answer.question.bounty_points %}{% ifequal answer.question.author request.user %}{% ifnotequal request.user answer.author %}
  <span class="action-link-separator">|</span>
  <span class="action-link">
    <a class="award-points" href="{% url award_points answer.pk %}">{% trans "award points" %}</a>
  </span>
  {% endifnotequal %}{% endifequal %}{% endif %}
{% endif %}