{% load compressed class_if_reverse settings thumbnail muathemes extra_filters i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% if request.muaccount.name %}{{ request.muaccount.name }} - {% endif %}{% block title %}{% endblock %}</title>
        {% spaceless %}
        {% block meta %}{% endblock %}
        {% endspaceless %}
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <link rel="shortcut icon" href="{{ MEDIA_URL }}cnprog/images/favicon.ico" >
        
        <!-- <link href="{{ MEDIA_URL }}cnprog/style/style.css" rel="stylesheet" type="text/css" /> -->
        <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
        <!-- <link rel="stylesheet" href="{{ MEDIA_URL }}saaskit/css/user_sites.css" type="text/css">  -->
        <!-- <link rel="stylesheet" href="{{ MEDIA_URL }}answers/css/style.css" type="text/css" /> -->
        <link rel="stylesheet" href="{{ MEDIA_URL }}saaskit/css/user_sites.css" type="text/css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script type="text/javascript">
          var i18nLang = '{{settings.LANGUAGE_CODE}}';
        </script>
        
         {% compressed_css request.muaccount.theme.color_scheme %}
        {{ request.muaccount.webmaster_tools_code|safe }}
        {% block forestyle %}{% endblock %}
        
        {% if messages %}
        <style type="text/css">
            body { margin-top:2.4em; }
        </style>
        
        <script type="text/javascript">
            $().ready(function() {
                $('#validate_email_alert').click(function(){notify.close(true)})
                notify.show();
            });
        </script>
        {% endif %}
      
        <script type='text/javascript' src='{{ MEDIA_URL }}cnprog/js/com.cnprog.i18n.js'></script>
        <script type='text/javascript' src='{{ MEDIA_URL }}cnprog/js/jquery.i18n.js'></script>
        
        {% block forejs %}
        {% endblock %}
        {% block head %}
        {% endblock %}
    </head>
    <body class="{% theme rounded_corners %}">
      <div id="{% theme page_width %}" class="{% theme layout %}">
        <div class="notify" style="display:none">
            {% autoescape off %}
                {% if messages %}
                    {% for message in messages %}
                          <p class="darkred">{{ message }}<p>
                    {% endfor %}
                {% endif %}
            {% endautoescape %}
            <a id="close-notify" onclick="notify.close(true)">&times;</a>
        </div>
        
          <!-- template header.html -->
{% load extra_tags %}
{% load i18n %}
     <div id="hd">
      <div class="navigation">
        {% block top_header %}
           <div id="user-nav">
             <ul>
          {% if request.user.is_authenticated %}
            <li><a href="/users/{{ request.user.id }}/{{ request.user.username }}/">{{ request.user.username }}</a> {% get_score_badge request.user %}</li>
            {% ifequal user request.muaccount.owner %}
            <li><a href="{% url muaccounts_manage_general %}">{% trans "Manage" %}</a></li> 
            {% endifequal %}
            {# <li><a href="{% url account_dashboard %}">{% trans "Account" %}</a></li> #}
            <li><a href="{% url logout %}?next=/">{% trans "Log out" %}</a></li> 
          {% else %}
            <li><a href="{% url user_signin %}">{% trans "log in or sign up" %}</a></li>
          {% endif %}
          {% comment %}
          <li><a href="/about">{% trans "about" %}</a></li>
          <li><a href="/faq">{% trans "faq" %}</a></li>
          {% endcomment %}
            </ul>
           </div>
        {% endblock %}
        <div class="clear"></div>
          <div id="logo">
            {% block logo %}
            <a href="/" title="{% trans 'back to home page' %}">
            {% if request.muaccount.logo %}
              <img src="{% thumbnail request.muaccount.logo 143x59 %}" id="site-logo">
            {% else %}
              <!-- <h2>{{ request.muaccount.name }}</h2> -->
              <img src="{{ MEDIA_URL }}cnprog/images/dummy.png" />
            {% endif %}
            </a>
           
            <p>{{ request.muaccount.tag_line }}</p>
            {% endblock %}
          </div>
          <div class="clear"></div>
          <div id="searchBar">
      
                    <form action="/search/" method="GET">
                        <div class="options">
                            <input type="text" class="searchInput" value="{{ keywords }}" name="q" id="keywords" >
                            <input type="submit" name="Submit" value="{% trans "search" %}" class="searchBtn" >
                        
                            <input id="type-question" type="radio" class="" value="question" name="t" checked >{% trans "questions" %}
                            <input id="type-tag" type="radio" class="" value="tag" name="t" >{% trans "tags" %}
                            <input id="type-user" type="radio" class="" value="user" name="t" >{% trans "users" %}
                        </div>
                    </form>
                
    </div>
             
               
               <div id="primary-navigation">
                    <a id="nav_questions" href="/questions/" >{% trans "questions" %}</a>
                    <a id="nav_tags" href="/tags/">{% trans "tags" %}</a>
                    <a id="nav_users" href="/users/">{% trans "users" %}</a>
                    <!--<a id="nav_books" href="/books/">{% trans "books" %}</a>-->
                    <a id="nav_badges" href="/badges/">{% trans "badges" %}</a>
                    <a id="nav_unanswered" href="/questions/unanswered/">{% trans "unanswered questions" %}</a>
                    
          {% comment %}<!-- i think this needs to be removed -e.f. -->
                    {% if request.user.is_authenticated %}
                    <a id="nav_profile" href="/users/{{ request.user.id }}/{{ request.user.username }}/">{% trans "my profile" %}</a>
                    {% endif %}
          {% endcomment %}
                    
                    <a id="nav_ask" href="/questions/ask/" class="special">{% trans "ask a question" %}</a>
                    
                </div>
                
            
    </div>
    <div class="clear"></div>
    
  </div>
<!-- end template header.html -->

        <div id="bd">
          
                {% block main-content %}
                   <div id="yui-main">
                     <div class="yui-b"> 
                      {% block content%}
                      {% endblock%}
                     </div>
                   </div>
  
                  <div id="sidebar" class="yui-b">
                      {% if request.muaccount.adsense_code %}
                        {{ request.muaccount.adsense_code|safe }}
                      {% else %}
                        {% load adsense %}{% get_site_adsenses as adsenses %}
                        {% for adsense in adsenses %}
                          {{ adsense.code|safe }}
                        {% endfor %}
                      {% endif %}
                      {% block sidebar%}
                      <img src="{{ MEDIA_URL }}cnprog/images/180x150.png" />
                      {% endblock%}
                  </div>
                
                {% endblock %}

                  <div id="tail" style="clear:both">
                      {% block tail %}
                      {% endblock %}
                  </div>
              </div>
             
          
        
        <div id="ft">
          <!-- template footer.html -->
          {% load extra_tags %}
          {% load i18n %}
            
              <div class="footerLinks" >
                {% load mu_links %}{% get_links as footer_links %}
                {% for link in footer_links %}
                  <a href="{{ link.url }}">{% trans link.title %}</a>
                  {% if not forloop.last %}
                  <span class="link-separator"> |</span>
                  {% endif %}
                {% endfor %}
                  {% comment %}
                  <a href="/about">{% trans "about" %}</a><span class="link-separator"> |</span>
                  <a href="/privacy">{% trans "privacy policy" %}</a><span class="link-separator"> |</span>
                  <a href="/faq">{% trans "faq" %}</a><span class="link-separator"> |</span>
                  {% endcomment %}
                 <div class="right-menu">
                    <a href="#">Copyright Sitename</a>
                 </div>
                 <div class="clear"></div>
              </div>
              
            </div>
            {% comment %}
            <script type="text/javascript">
                var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
                </script>
                <script type="text/javascript">
                try {
                var pageTracker = _gat._getTracker({{ settings.GOOGLE_ANALYTICS_KEY }});
                pageTracker._trackPageview();
                } catch(err) {}
            </script>
            {% endcomment %}
        </div>
   
      
      <script type='text/javascript' src='{{ MEDIA_URL }}cnprog/js/com.cnprog.utils.js'></script>
      {% block endjs %}
      {% endblock %}
      {% compressed_js 'all' %}
      {% block extra_scripts %}{% endblock %}
      {{ request.muaccount.analytics_code|safe }}
      
      {% load counter_tags %} {% counter request.muaccount %}
    </body>
</html>


















































