{% load i18n extra_tags %}
<!--<div id="header">-->
	{% if request.user.is_authenticated %}
		<a href="/users/{{ request.user.id }}/{{ request.user.username }}/">{{ request.user.username }}</a> {% get_score_badge request.user %}
    {% ifequal user request.muaccount.owner %}
    <a href="{% url muaccounts_manage_general %}">{% trans "Manage" %}</a> 
    {% endifequal %}
    <a href="{% url account_dashboard %}">{% trans "Account" %}</a> 
    <a href="{% url logout %}?next=/">{% trans "Log out" %}</a></li> 
	{% else %}
		<a href="{% url user_signin %}">{% trans "Log in or Sign up" %}</a>
	{% endif %}
	<a href="/about">{% trans "about" %}</a>
	<a href="/faq">{% trans "faq" %}</a>
<!--</div>-->
