{% extends "muaccounts/manage/base.html" %}
{% load i18n frontendadmin_tags %}
{% block title %}Application settings{% endblock %} 

{% block content %}
  <h2>{% trans "Manage Content" %}</h2>
  {% frontendadmin_add flatpage_list %}
  <ul>
    {% for flatpage in flatpage_list %}
    <li>
      <a href="{{ flatpage.url }}">{{ flatpage.title }}</a>
      {% if flatpage.muaccount %} 
      | {% frontendadmin_change flatpage 'change' %}
      {% if not flatpage.has_default %}
        | {% frontendadmin_delete flatpage %}
      {% endif %}
      {% else %}
      | {% frontendadmin_add flatpage_list 'customize' %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endblock %}
