{% extends "account/base.html" %}
{% load i18n %}
{% block title %}{% trans "Pricing and Plans" %} {% endblock %}
{% block teaser %}
  {% include "subscription/subscription_list_fragment.html" %}
{% endblock %} 
{% block content %}
 <!--Start of info block -->
                    <div class="block">
                        <div class="bd">
                        
                        <h1>{% trans "Questions & Answers" %}</h1>
                        <br>
<p class="questions">{% trans "YOU DO ?" %}</p>
<p>{% trans "No. QA.com is a pay-as-you-use service and is not offered on contract terms or long term committments. All you do is pay the monthly charges. If you chose to cancel, you're only billed for the current month alone." %}</p>
<p class="questions">{% trans "Can I upgrade plans at will?" %}</p>
<p>{% trans "Yes. All you have to do is navigate to the 'Account' tab and you'll find the upgrade option in the dashboard." %}</p>
<p class="questions">{% trans "Are there per-page view charges?" %}</p>
<p>{% trans "We don't charge on per-page view basis as all the prices above are inclusive i.e. Plus plan is $900/Month for upto 10,000,000 page views. This means you only pay $900/month regardless of the page views you get as long as it's 10,000,000 or less." %}</p>
<p class="questions">{% trans "Do you offer free trial?" %}</p>
<p>{% trans "No. At the moment we don't have free trials. That maybe considered in the future." %}</p>
<p class="questions">{% trans "What type of payments do you accept?" %}</p>
<p>{% trans "Payments are processed safely and securely by PayPal, major credit cards accepted. PayPal account not required for payment." %}</p>
<p class="questions">{% trans "Your Data Safety Guaranteed" %}</p>
<p>{% trans "Our state-of-the-art computer servers are protected by biometric locks and 24-hour surveillance. Our product software and infrastructure is updated regularly with the latest security patches. Our network is protected by an enterprise-class firewall to keep your data safe." %}</p>
                    </div></div>
                    <!--End of info block -->
 
<div id="sidebar" class="yui-b">
  <!--Start of more info-->
            <div class="block">
                <div class="bd">
                    <h1>{% trans "More Info" %}</h1>
                    <br>
                    <p>{% trans "Payments are processed" %} <strong>{% trans "safely and securely" %}</strong>{% trans "by" %} <img src="{{ MEDIA_URL }}saaskit/img/logo_paypal.gif"> 
                      {% trans "PayPal major credit cards accepted. PayPal account not required for payment." %}</p>
                                        <p><img src="{{ MEDIA_URL }}saaskit/img/credit_cards.gif"></p>
                    <p>{% trans "Project is proud to be hosted with" %} <img src="{{ MEDIA_URL }}saaskit/img/logo_rackspace.gif">
                      {% trans "Rackspace experts in enterprise-level web hosting" %}</p>
                    <p>{% trans "Project data is backed-up daily and you can export data at any time." %}</p>                       
                    <p>{% trans "Encrypted with" %} <strong>{% trans "128-bit SSL" %}</strong></p>
                    <p><img src="{{ MEDIA_URL }}saaskit/img/secure.gif"></p>
                    <span class="info">{% trans "Project is optimised for IE7, Firefox and Safari web browsers." %}</span>
                    </div>
                </div>
                 <!--end of more info-->
</div>
                    

{% endblock %}
{% block fake-footer %}
<div class="block">
                <div class="bd">
                <table>
                <tr>
                    <td><img src="{{ MEDIA_URL }}saaskit/img/testimonial_logo_tab.gif"></td>
                    <td><h2>“In just a few campaigns, Project helped us understand what content our nearly 3000 twitter followers craved!”</h2>
                    <span>Paul Baron — <a href="#">Tokyo Art Beat</a></span></td>
                </tr>
                <tr>
                    <td><img src="{{ MEDIA_URL }}saaskit/img/testimonial_logo_24seven.gif"></td>
                    <td><h2>“The UI is clean and simple, and the live update of activities blew me away!” </h2>
                    <span>Claudia Lim — <a href="#">24seven</a></span></td>
                </tr>

            </table>
            </div>
        </div>

{% endblock %}
