{% extends "ask.html" %}
{% load i18n credits muaccounts_tags %}

{% block ask_form %}
  <p class="form-item">
      <label for="id_title" ><strong>{{ form.title.label_tag }}:</strong></label> <span class="form-error"></span><br>
      {{ form.title }} {{ form.title.errors }}
      <div class="title-desc">
          {{ form.title.help_text }}
      </div>
  </p>

  <p class="form-item">
      <div id="wmd-button-bar" class="wmd-panel"></div>
      {{ form.text }}

      <div class="preview-toggle">
          <table width="100%">
              <tr>
                  <td>
                      <span id="pre-collapse" title="{% trans "Toggle the real time Markdown editor preview" %}">{% trans "toggle preview" %}</span>
                  </td>
                  <td style="text-align:right;">
                      {{ form.wiki }} <span style="font-weight:normal;cursor:help" title="{{form.wiki.help_text}}">{{ form.wiki.label_tag }} </span>
                  </td>
                  {% if request.muaccount.is_bounty %}
                  <td style="text-align:right;">
                      {{ form.bounty_points }} 
                      <span style="font-weight:normal" title="{{form.bounty_points.help_text}}">
                        {{ form.bounty_points.label_tag }} 
                        (<a href="{% main_site_url prepaid-index %}">{% show_user_credits request.user %} max</a>)
                      </span>
                      {{ form.bounty_points.errors }}
                  </td>
                  {% endif %}
              </tr>

          </table>
      </div>
      <div id="previewer" class="wmd-preview"></div>
      <span class="form-error"></span>
      <br>
  </p>
  <p class="form-item">
      <strong>{{ form.tags.label_tag }}:</strong> {% trans "(required)" %} <span class="form-error"></span><br>
      {{ form.tags }}  {{ form.tags.errors }}
  </p>
  <p class="title-desc">
  	{{ form.tags.help_text }}
  </p>
  <input type="submit" value="{% trans "Ask your question" %}" class="submit" />
{% endblock %}
