{% extends "app_base.html" %}
<!-- unanswered.html -->
{% load extra_tags %}
{% load i18n %}
{% load humanize %}
{% load extra_filters %}
{% block title %}{% spaceless %}{% trans "Unanswered questions" %}{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $("#nav_unanswered").attr('className',"on");
        });
         
        </script>
{% endblock %}
{% block content %}
<div class="saaskit-block">
    <h3>{% trans "Unanswered questions" %}</h3>
    <div class="saaskit-menu">
    {% include 'mainmenu_block.html' %}
       <div class="clear"></div>
    </div>

<div class="saaskit-block-content">
    {% for question in questions.object_list %}
<div class="question">
      <div class="summary">
        <p class="title"><a href="{{ question.get_absolute_url }}">{{ question.get_question_title }}</a></p>
        <p>{{ question.summary }}</p>
        <span class="info"><a href="{{ question.author.get_profile_url }}">{{ question.author }}</a> | {% blocktrans with question.added_at|timesince as time_added %}Created {{ time_added }} ago{% endblocktrans %}</span>
      </div>          
          <div class="box-votes"><h2>{{ question.score|intcomma }}</h2><p>{% trans "votes" %}</p></div>
          <div class="box-views"><h2>{{ question.view_count|qna_intword|safe }}</h2><p>{% trans "views" %}</p></div>                
    <div class="clear"></div>    
    </div>
    <hr />
    {% endfor %}
    
</div>
</div>
{% endblock %}

{% block tail %}
	<div class="pager">
		{% qna_paginator context %}
	</div>
	<div class="pagesize">
		{% qna_pagesize context %}
	</div>
{% endblock %}

{% block sidebar %}
<div class="saaskit-block">
<div class="boxC">
	<h3 class="subtitle">{% trans "Total" %}</h3>
    <p>
		{% blocktrans with questions_count|intcomma as num_q %}have {{num_q}} unanswered questions{% endblocktrans %}
		{% comment %}
		{% trans "Have a total of" %}<br><div class="questions-count">{{ questions_count|intcomma }}</div>
		{% endcomment %}
        <!---<p>问题按 <strong>问题创建时间</strong> 排序。最新加入的问题将显示在最前面。</p>-->
    </p>
</div>
<div class="boxC">
	<h3 class="subtitle">{% trans "Related tags" %}</h3>
    <div class="body">
    <div class="tags">
        {% for tag in tags %}
            <a rel="tag" title="{% trans "see questions tagged"%}'{{ tag.name }}'{% trans "using tags" %}"  href="{% url tag_search tag.name|urlencode %}">{{ tag.name }}</a>
            <span class="tag-number">× {{ tag.used_count|intcomma }}</span>
            <br>
        {% endfor %}
        <br>
    </div>
    </div>
</div>
</div>

{% endblock %}

<!-- end unanswered.html -->

